$pseudowhite: #fafafa;
$pseudoblack: #212121;

.footer-icons {
  border: 2px solid $pseudowhite;
  border-radius: 100%;
  padding: 5px;
  color: $pseudowhite;
  &:hover {
    border: 2px solid skyblue; 
    color: skyblue;
  }
}

.card-title {
  padding-bottom: 0.5em;
}

.card-image img{
  height: 157px;
}